* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(39, 32, 32);
}


/* section
--------------- */
section {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}


/* header
--------------- */
.book_header {
    width: 80%;
}

.book_inp {
    padding: 12px 5px;
    font-size: 18px;
    width: 20%;
}

.book_btn {
    margin-left: 10px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(210, 172, 248);
    border: 3px solid rgb(130, 30, 155);
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.book_btn:focus {
    outline: none;
}

.book_btn:active {
    box-shadow: 2px 2px 5px 3px #ccb1ec;
}

.book_btn:hover {
    background-color: rgb(230, 107, 213);
}


/* book
--------------- */
.book_list {
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.book_item {
    border: 5px solid #4e6b32;
    border-radius: 5px;
    width: 20%;
    padding: 10px 15px;
    background-color: #a8e76c;
    margin-bottom: 20px;
    margin-left: 3px;
}

.book_item.chk {
    background-color:  #d3e246;
    border: 5px solid #51571a;
}

.book_hdr h3, h4{
    font-size: 18px;
    padding-bottom: 5px;
}

.book_ftr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book_ftr p {
    font-size: 15px;
    padding-bottom: 5px;
}

.book_ftr .action {
    display: flex;
}

.book_ftr img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.book_item button {
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    padding: 5px;
    border: 3px solid rgb(99, 99, 99);
    border-radius: 10px;
    background-color: rgb(236, 225, 248);
}

.book_item button:hover {
    background-color: rgb(154, 126, 185);
}

.book_item button a {
    text-decoration: none;
}

.detail {
    border: 3px solid #4e6b32;
    border-radius: 5px;
    width: 20%;
    padding: 10px 15px;
    background-color: #a8e76c;
}

.detail h2 {
    padding-bottom: 10px;
}

.detail p {
    padding-bottom: 5px;
}

