{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./style/index.css"> -->
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <!-- <link rel="stylesheet" href="./style/checkbox.css"> -->
    <link rel="stylesheet" href="{% static 'style/checkbox.css' %}">
</head>
<body>
    <section>
        <div class="todo_header">
            <input class="header_inp" type="text" placeholder="Напишите новую задачу..">
            <button class="header_btn">Добавить</button>
        </div>
        <div class="todo_list">
            <div class="todo_item">
                <div class="item_chk">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="item_ftr">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_icon">
                        <img src="./icons/star.svg">
                        <img src="./icons/delete.svg">
                    </div>
                </div>
            </div>
            <div class="todo_item check">
                <div class="item_chk">
                    <label class="checkbox_container">
                        <input type="checkbox" checked>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="item_ftr">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_icon">
                        <img src="./icons/star.svg">
                        <img src="./icons/delete.svg">
                    </div>
                </div>
            </div>
            <div class="todo_item del">
                <div class="item_chk">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="item_ftr">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_icon">
                        <img src="./icons/star.svg">
                        <img src="./icons/delete.svg">
                    </div>
                </div>
            </div>
            <div class="todo_item check">
                <div class="item_chk">
                    <label class="checkbox_container">
                        <input type="checkbox" checked>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="item_ftr">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_icon">
                        <img src="./icons/star.svg">
                        <img src="./icons/delete.svg">
                    </div>
                </div>
            </div>
            <div class="todo_item">
                <div class="item_chk">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="item_ftr">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_icon">
                        <img src="./icons/star.svg">
                        <img src="./icons/delete.svg">
                    </div>
                </div>
            </div>
            <div class="todo_item del">
                <div class="item_chk">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="item_ftr">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_icon">
                        <img src="./icons/star.svg">
                        <img src="./icons/delete.svg">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>