{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./style/index.css"> -->
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <!-- <link rel="stylesheet" href="./style/checkbox.css"> -->
    <link rel="stylesheet" href="{% static 'style/checkbox.css' %}">
</head>

<body>
    <section>
        <div class="todo_header">
            <form action="{% url 'add-todo' %}" method="POST">
                {% csrf_token %}
                <input class="header_inp" name="todo_text" type="text" placeholder="Напишите новую задачу..">
                <button class="header_btn">Добавить</button>
            </form>
        </div>
        <div class="todo_list">
            {% for todo in todo_list %}
            <div class="todo_item
                {% if todo.is_favorite %}
                    check
                {% elif todo.is_closed %}
                    del
                {% endif %}
            ">
                <div class="item_chk">
                    <label class="checkbox_container">
                        <input type="checkbox"
                        {% if todo.is_closed %}
                            checked
                        {% endif %}
                        />
                        <span class="checkmark"></span>
                    </label>
                    <h4><a href="{% url 'close-todo' todo.id %}">{{ todo.text }}</a></h4>
                </div>
                <div class="item_ftr">
                    <p>{{ todo.created_at }}</p>
                    <div class="action_icon">
                        {% if todo.is_favorite %}
                            <a href="{% url 'mark-todo' todo.id %}"><img src="{% static './icons/light_star.svg' %}"></a>
                        {% else %}
                            <a href="{% url 'mark-todo' todo.id %}"><img src="{% static './icons/star.svg' %}"></a>
                        {% endif %}

                        <a href="{% url 'delete-todo' todo.id %}"><img src="{% static './icons/delete.svg' %}"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>

</html>